/* Contenedor principal */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* Botonera */
.botonera {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.botonera button {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo específico para botón "+" */
.botonera button:last-child {
  width: 40px;
  height: 40px;
  font-size: 15px;
  line-height: 1;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(194, 189, 189, 0.15);
}

/* Formulario flotante */
.formulario-agregar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.95);
  padding: 35px 35px;
  border-radius: 12px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  width: 350px;
  max-width: 850vw;
}

/* Inputs del formulario */
.formulario-agregar input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

.formulario-agregar input:focus {
  border-color: #3399ff;
  outline: none;
}

input.invalido {
  border-color: red;
}

/* Mensaje de error */
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Botón guardar */
.formulario-agregar button[type="submit"] {
  width: 100%;
  padding: 10px 0;
  font-size: 1.1rem;
  background-color: #14314e;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario-agregar button[type="submit"]:hover {
  background-color: #1a73e8;
}

/* Botón cerrar (✖) */
.formulario-agregar .cerrar {
  position: absolute;
  top: 8px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
}

.formulario-agregar .cerrar:hover {
  color: red;
}

/* Tabla de colaboradores */
.tabla-colaboradores {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-colaboradores th,
.tabla-colaboradores td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
