<div class="container">
  <h2>Colaboradores</h2>
  <button (click)="cargarColaboradores()">Cargar colaboradores</button>

  <div *ngIf="cargando">Cargando...</div>

  <table *ngIf="colaboradores.length > 0" border="1" cellpadding="10" style="margin-top: 20px;">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Dirección</th>
        <th>Profesión</th>
        <th>Estado Civil</th>
        <th>Riesgo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let col of colaboradores">
        <td>{{ col.nombre }}</td>
        <td>{{ col.apellido }}</td>
        <td>{{ col.edad }}</td>
        <td>{{ col.direccion }}</td>
        <td>{{ col.profesion }}</td>
        <td>{{ col.estado_civil }}</td>
        <td> <button (click)="mostrarAlerta(nivelRiesgo(col.edad))">Nivel Riesgo</button> </td>
      </tr>
    </tbody>
  </table>
</div>
